/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* main section */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.btn-primary {
    /* border-radius: 8px; */
    background: #FF5400;
    padding: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;


}

/* header section styles */
.banner {
    margin-left: 135px;
    margin-right: 135px;
}

.logo {
    display: flex;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 30px;

}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
}

/* banner section start */
.image-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-btn {

    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.image-btn button {
    width: 165px;
    height: 45px;
    border-radius: 5px;
}

.explore {
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 0px;
}

/* popular section styles */
.popular {
    display: flex;
    gap: 60px;
    padding-left: 120px;
}

.our {
    font-size: 40px;
    font-weight: 700;

}

/* <!-- destination section start --> */
.destination {
    margin: 70px auto;
    padding-left: 100px;
    padding-left: 100px;

}

.destination-title {
    text-align: center;
}

.destination-image-container {
    position: relative;
    display: inline-block;
}

.maldives {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px
}

.america {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: .002px;
    color: white;
    font-size: 25px;
}

/* choose us section  */

.section-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.hotel {
    color: #5A5A5D;
    text-align: center;
}

.card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
}

.visiting-card-1 {
    display: flex;
    gap: 30px;
}

.choose {
    margin: 10px auto;
    padding-left: 100px;
    padding-right: 100px;
}

.third-card {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-top: 1px;
    margin-top: 0px;

}

/* deals and discount related styles */
.jamela {
    margin-left: 70;

}

.discount {
    text-align: center;
}

.image-container-jamela {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
    color: rgb(26, 24, 24);
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vejal {
    display: flex;
}

.text-overlay-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
    color: rgb(26, 24, 24);
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vejal-btn {
    text-align: center;
    margin-top: 30px;
}

/* perfect place related styles */
.perfect {
    margin-top: 60px;
    display: flex;
    /* justify-content: space-between;
    width: 1200px; */
    gap: 20px;
}

.image-youtube {
    position: relative;
    display: inline-block;
}

.youtube img {
    justify-content: space-between;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -300%);

}

.text-overlay-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    font-size: 24px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}


/* save section start */
.save {
    display: flex;
    gap: 100px;
}

.form {
    margin-top: 10px;
    text-align: left;
    width: 400px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.subscribe {
    margin-top: 10px;
    width: 400px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

 .feature-img .save{
    height: 90%;
    margin-left: 100px;
} 

.rotate {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    position: relative;
    bottom: 180px;
    left: 340px;
}
.a{
    margin-top: 5px;
}

/* footer related styles */
footer{
    
height: 502px;
background: rgba(19, 19, 24, 0.05);
}
.footer-hero{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.footer-describtion{    
    text-align: center;
}
.links{
    margin-top: 50px;
    text-align: center;
}
hr{
    margin-top: 50px;
}
.reserved{
    margin-top: 50px;
    color: #131318;  
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}











@media screen and (max-width:600px) {
    .popular {
        flex-direction: column;
        padding: 5px;
        height: 414px;
    }

    .pahar img {
        width: 90%;
    }

    .destination {
        margin-top: 600px;
    }

    .america,
    .maldives {
        width: 3000px;
        height: 176px;
    }

}